html, body {
	background-color: black;
	color: white;
	font-family: helvetica, arial, sans-serif;
	font-size: 14px;
	line-height: 1.2;
}

.container {
	max-width: 768px;
	padding: 20px 5%;
	display: flex;
	justify-content: center;
}

section {
	background-color: #171717;
}
